/* используем классы для фиксации изменчивости! 
использовал что-то типо БЭМА, чтобы было легко прикрутить SASS/SCSS со всеми вложенностями	
*/
.header {
	height: 765px;
	color: var(--app-light-color);
	position: relative;
	background: url("../img/main.jpg") no-repeat center / cover;
}

.header__logo {
	font-family: var(--app-logo-font), serif;
	font-size: var(--app-large-fs);
	display: flex;
	align-items: center;
}

.header__logo::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("../icons/Logo.svg");
	margin-right: 10px;
}

.header__nav__list li:nth-last-child(1),
.header__nav__list li:nth-last-child(2) {
	display: none;
}

/* навигация */

.header__nav {
	width: 45%;
}

.header__nav__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav__list_anchor {
	font-size: 19px;
}

.header__search {
	width: 78.2%;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: var(--app-img-radius);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	left: 8.3%;
	bottom: 33%;
	padding: var(--app-mr-medium);
}

.header__search__text {
	font-family: var(--app-basic-font), serif;
	font-style: italic;
	color: var(--app-basic-color);
	font-size: var(--app-medium-fs);
	font-weight: var(--app-bold-weight);
	width: 560px;
	margin-right: 45px;
}

/*  секция steps ********************************************/

.steps {
	margin: 80px 0;
}

.steps__flex__panel {
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
}

.steps__flex__panel__item {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.steps__flex__panel__rect {
	width: 100px;
	height: 100px;
	background: var(--app-basic-color);
	border-radius: var(--app-img-radius);
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Секция popular *******************************************************/

.popular__slider {
	width: 55%;
	margin: 46px auto;
	position: relative;
	overflow: hidden;
}

/* width зависит от кол-ва слайдов (Javascript) */
.popular__slider__tracker {
	display: flex;
	/* width: 300%; */
	transition: 0.25s all;
}

.popular__slider__tracker__item {
	/* width: calc(100% / 3); */
	position: relative;
}

/* стрелки управления слайдера */
.arrows {
	color: var(--app-basic-color);
	position: absolute;
	top: 40%;
	z-index: 1;
	right: 4.5%;
	font-size: 48px;
	transform: translateY(-45%);
	cursor: pointer;
}

.arrows#back {
	width: 48px;
	left: 6%;
}

.popular__slider__tracker__img {
	margin: 0 auto;
	width: 90%;
	border-radius: var(--app-img-radius);
	object-fit: cover;
	height: 100%;
}

.slider__dotes {
	margin: 24px 0 40px 0;
	text-align: center;
	cursor: pointer;
}

/* Секция stories *************************************************/

.stories {
	position: relative;
}

.stories__wrapper {
	margin-top: 40px;
	/* отстраиваем по высоте */
	background: url("../img/stories.png") no-repeat center / cover;
	position: relative;
}

.stories__wrapper__overlay {
	width: 100%;
	height: calc(100% - 60px);
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 0px;
}

.stories__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	z-index: 1;	
	padding: 2.77% 8.68% 4.5% 10.44%;
}

/* флекс под все экраны *********/

.stories__content__img {
	flex: 1 1 auto;
	max-width: 400px;
	height: 250px;
	margin: 0 30px 30px 0;
}

.stories__content__desc {
	flex: 1 1 auto;
	max-width: 730px;
	margin-bottom: 30px;
}

.stories__content__desc a {
	text-decoration: underline;
	color: var(--app-text-color);
	font-weight: bold;
}

.container__button.stories {
	height: 150px;
}

/* footer **********************************************/
.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 61px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__text {
	font-size: var(--app-small-fs);
}

.footer__icons {
	position: absolute;
	right: 123px;
}

.footer__icons a {
	display: inline-block;
	width: 31px;
	height: 31px;
	margin-right: 1rem;
}

.footer__icons a::before {
	content: "";
	display: block;
	background: no-repeat center;
	width: 100%;
	height: 100%;
}

.footer__icons a:first-child::before {
	background-image: url("../icons/Insta.svg");
}

.footer__icons a:nth-child(2)::before {
	background-image: url("../icons/Youtube.svg");
}

.footer__icons a:last-child::before {
	background-image: url("../icons/Twitter.svg");
}
